body {
  padding: 0;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 17px;
  color: #000000;
  background-color: #ffffff;
  min-width: 1200px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.main-navigation {
  background-color: #f4f7f9;
  margin: 0px;
  padding: 0px;
  min-height: 320px;
}

.main-logo {
  font-size: 24px;
  line-height: 24px;
  font-weight:400;
  color: #ffffff;
  background-color: #ee3643;
  width: 220px;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 6px;
  border-bottom: 5px solid #b52933;
  display:inline-block;
  position: absolute;
  top: 0;
  display: none;      /* Потом убрать */
}

.main-logo:hover,
.main-logo:focus {
background-color:#ca2c37;
border-bottom: 5px solid #9a212a;
}

.main-logo:active {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.wrapper {
  background-color: #293449;
  width: 100%;
}

.row-selected-products {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
  height: 42px;
}

.wrapper .row-selected-products {
  display: flex;
  flex-direction:row;
  align-items:center;
  margin-bottom: 46px;
}

.row-selected-products a:not(.main-logo ) {
  color: #ffffff;
  line-height: 18px;

}

.main-search {
  margin-left: auto;
  width: 270px;
}

.main-search input[type="search"] {
  border: none;
  padding-left:48px;
  width: 270px;
  height: 42px;
  border: 1px solid white;
  margin-left: 20px;
  background-color: #293449;

}

.main-search input[type="search"]::before {
  content: "";
  position: absolute;
  background-image:url(../img/icon-search.svg);
}

.main-bookmarks {
  width: 150px;
  margin-left: auto;
  text-align: center;
  /* border: 1px solid white; /* -- ПОТОМ УБРАТЬ -- */

}

.main-basket {
  width: 150px;
  text-align: center;
  /* border: 1px solid white; /* -- ПОТОМ УБРАТЬ -- */
}

.main-bookmarks a:hover,
.main-basket a:hover,
.main-bookmarks a:focus,
.main-basket a:focus {
background-color: #212a3a;
}

.main-bookmarks a:active,
.main-basket a:active {
background-color: #161d29;
color: rgba(255, 255, 255, 0.6);
}

.with-products a,
.with-products a:hover,
.with-products a:focus,
.with-products a:active {
  background-color: #ee3643;
}

.main-checkout {
  background-color: #63a63e;
  width: 150px;
  text-align: center;
  /* border: 1px solid white; /* -- ПОТОМ УБРАТЬ -- */
}

.main-checkout:hover,
.main-checkout:focus {
  background-color: #5fbb2d;
}

.main-checkout:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}

.middle-corrector {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; /* -- ПОТОМ УБРАТЬ -- */
  margin-bottom:44px;
}

.main-description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  width: 200px;
  margin: 0;
  padding: 0;
  margin-left: 53px;
  /* border: 1px solid red; /* -- ПОТОМ УБРАТЬ -- */
}

.main-address {
  list-style: none;
  width: 300px;
  margin:0;
  padding: 0;
  margin-left:70px;
  /* border: 1px solid red; /* -- ПОТОМ УБРАТЬ -- */
}

.main-address-number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  width: 270px;
  text-align: center;
}

.main-address-city {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  width: 270px;
  text-align: center;
}

.user-navigation {
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  width: 300px;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; /* -- ПОТОМ УБРАТЬ -- */
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.user-navigation a {
  color: inherit;
  background: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.302);
}

.user-navigation-cabinet {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.user-link {
  background-color: #ffffff;
  width: 300px;
  text-align: center;
}

.user-link a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.orders-link {
  margin-left: 18px;   /* -- ПОТОМ ИСПРАВИТЬ -- */
}

.personal-link {
  margin-left: 32px;  /* -- ПОТОМ ИСПРАВИТЬ  -- */
}

.orders-link a,
.personal-link a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.navigation-corrector {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
  /* margin-bottom: 59px; /* -- ПОТОМ УБРАТЬ -- */ */
  /* border: 1px solid green; /* -- ПОТОМ УБРАТЬ -- */
}

.navigation-corrector .site-navigation {
  list-style: none;
  background-color: #32425c;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
    color: rgba(255, 255, 255, 0.502);
    background-color: #1d2739;
}

.breadcrumbs-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.breadcrumbs-wrapper .breadcrumbs {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumbs li {
  margin-left: 40px;
}

.breadcrumbs,
.filter p,
.catalog-navigation {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.catalog-filter-wrapper {
  display: flex;

}

.filter {
  /* border: 1px solid black; */
  width: 220px;
  margin-right: 20px;
}

.filter p,
.catalog-navigation {
  background-color: #f7f3ec;
  margin: 0;
  padding: 0;
}

.filter p {
  min-height: 38px;
  text-align: center;
  margin-bottom: 20px;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.filter fieldset {
  border: none;
}

.filter label,
.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.filter ul {
  list-style: none;
}

.filter-button {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.catalog-navigation {
  /* border: 1px solid black; */
  display: flex;
  min-height: 38px;
  margin-bottom: 20px;
}

.catalog-navigation p {
  margin: 0;
  padding: 0;
  }

.catalog-navigation .catalog-navigation-item {
  padding-left: 19px;
  padding-top: 14px;
}

.catalog-nav-item {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 140px;
  list-style: none;
  width: 355px;
  margin-top: 14px;
}

.catalog-arrow-item {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10px;
  list-style: none;
  margin-top: 14px;
}

.catalog-arrow-item .catalog-nav-list {
  margin-right: 5px;
}

.catalog-nav-list a {
  color: rgba(0, 0, 0, 0.302);
  /* background-image: url(/Users/yanbronovitskiy/Documents/GitHub/608889-technomart/img/under-line.png);
  background-position: bottom;
  background-repeat: repeat-x; */
  border-bottom: 1px dotted #ee3643;


}

.catalog-nav-list a:hover,
.catalog-nav-list a:focus {
  color: inherit;
  border-bottom: 1px solid #ee3643;
  background: none;
}

.catalog-list-current a {
  background-image: none;
  border-bottom: none;
  color: #ee3643;
  margin: 0;
  padding: 0;
}
.catalog-list-current a:hover,
.catalog-list-current a:focus,
.catalog-list-current a:active {
  background-image: none;
  border-bottom: none;
  color: #ee3643;
}

.catalog-item-buy {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #63a63e;
}

.catalog-item-buy:hover,
.catalog-item-buy:focus {
  background-color: #5fbb2d;
}

.catalog-item-buy:active {
  background-color: #518534;
}

.catalog-item-bookmarks {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.catalog-item-bookmarks:hover,
.catalog-item-bookmarks:focus {
  border: 3px solid #000000;
  border-radius: 3px;
}

.catalog-item-bookmarks:active {
  border: 3px solid #c1c6ce;
  border-radius: 3px;
  color: rgba(50, 66, 92, 0.302);
}

.services {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
  margin-bottom: 53px;
  margin-top: 59px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 1px solid green;  */  /* ------   потом убрать ----------- */
}

.services-item-horizontal {
  display: flex;
  justify-content:space-between;
  width: 100%;
/*   border: 1px solid black;     */  /* ------   потом убрать ----------- */
}

.services-item-vertical {
  display: flex;
  flex-direction: column;
/*   border: 1px solid black; */ /* ------   потом убрать ----------- */
  width: 300px;
  margin-left: auto;
}

.services-item-slide {
  width: 620px;
  height: 266px;   /* ------   потом убрать ----------- */
  border: 1px solid red;
}

.slider-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  /* ------   потом убрать ----------- */
}

.services-list {
  width: 300px;
  margin-bottom: 20px;
  min-height: 123px; /* ------   потом убрать ----------- */
}

.services-list h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

.services-list a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(229, 229, 229, 0.5);
}

.services-list a:hover,
.services-list a:focus {
  background-color: rgba(204, 204, 204, 0.6);
}

.services-list a:active {
  background-color: rgba(178, 178, 178, 0.7);
}

.materials-block,
.delivery-block {
  background-color: #ffbf47;
}

.tool-block {
  background-color: #3bbce3;
}

.technics-block {
  background-color: #dc91d8;
}

.discounts-block {
  background-color: #8ed78f;
}

.caption {
  background-color: #f9f5f0;
  /* border: 1px solid green;  */  /* ------   потом убрать ----------- */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items:center;
}

.inner-caption {
  background-color: #f2f6f8;
  display: flex;
  margin-bottom: 20px;
}

.caption-txt {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  width: 610px;
  order: 2;
  /* border: 1px solid green; */ /* ------   потом убрать ----------- */
  margin-left: 30px;
}

.caption-btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
  width: 200px;
  /* border: 1px solid green; */  /* ------   потом убрать ----------- */
  margin-right: 24px;
}

.product,
.manufacture {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.product-item {
  display: flex;
justify-content: flex-start;
  flex-wrap: wrap;
  /* border: 1px solid green; */ /* ------   потом убрать ----------- */
  margin: 0;
  padding: 0;
}

.product-list,
.product-list-primary {
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.product-list:nth-child(4n) {
  margin-right:0;
}

.product-list-primary:nth-child(3n) {
  margin-right:0;
}

.product-item,
.manufacture-item {
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
}

.product-list,
.manufacture-list,
.product-list-primary {
  border: 1px solid #eaeaea;
  text-align: center;
}

.product-list h3,
.product-list-primary h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.product-list span,
.product-list-primary span {
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.product-list p,
.product-list-primary p {
  background-color: #ee3643;
  color: #ffffff;
}

.manufacture {
  /* border: 1px solid black; */
  margin-bottom: 65px;
}

.manufacture-item {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content:flex-start;

}

.manufacture-list {
  width: 218px;
  min-height: 143px;
  margin-bottom: 20px;
  margin-right: 20px;
  align-self:center;
}

.manufacture-list:nth-child(4n) {
  margin-right: 0;
}

.pagination-list {
  list-style: none;
  /* border: 1px solid black; */
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 4px;
  margin-bottom: 60px;
}

.pagination-item a {
  color: #000000;
  background-color: #ffffff;
  /* border: 1px solid #eaeaea; */

}

.pagination-item a:active {
  border: 1px solid #ee3643;

}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.offers {
  background-color: #f4f7f9;
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  padding:0 calc((100% - 930px) / 2);
  justify-content: center;
  margin-bottom: 80px;
  /* border: 1px solid red; */ /* ------- ПОТОМ УБРАТЬ   ------*/ */
}

.offers-wrapper h2,
.offers-item  {
  margin: 0;
  padding: 0;

}

.offers .offers-wrapper {
  padding-top: 63px;
}

/* .offers-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
  display: flex;

  margin-bottom: 83px;
} */
/* border: 1px solid red; */  /* ------- ПОТОМ УБРАТЬ   ------*/

.product-wrapper .offers-caption-txt {
 /*border: 1px solid black; */  /* ------- ПОТОМ УБРАТЬ   ------*/
  width: 400px;
padding-top: 68px;
margin-bottom: 37px;
}

.product-wrapper p {
  margin: 0;
  padding: 0;

}

.offers-caption-txt,
.company-caption-txt,
.contacts-caption-txt {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.offers-caption-txt {
  margin: 0;
  padding: 0;
  width: 400px;
  /* border: 1px solid black; */
  margin-bottom: 30px;
  padding-top: 68px;

}

.offers-item {
  list-style: none;
  /* border: 1px solid black; */
  width: 400px;
}

.offers-item,
.offers-description p,
.company p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.offers-description {
  width: 620px;
  /* border: 1px solid green; */ /* ------- ПОТОМ УБРАТЬ   ------*/
  min-height: 283px;
  margin-left: auto;
}

.delivery-item {
  width: 275px;
}

.guaranty-item {
  width: 380px;
}

.caption-wrapper {
  margin: 0 auto;
  /* padding: 0 10px; */
  width: 940px;
  margin-bottom: 83px;
}

.offers-nav {
  list-style: none;
  width: 240px;   /* -------  ДУБЛИРУЕТСЯ С  .offers-nav-btn ------*/
  min-height: 182px;      /* ------- ПОТОМ УБРАТЬ   ------*/
  /* border: 1px solid green; */ /* ------- ПОТОМ УБРАТЬ   ------*/
  margin: 0;
  padding: 0;
  margin-top: 2px;

}

.offers-nav-btn {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  width: 240px;
}

.offers-nav-btn:hover,
.offers-nav-btn:focus {
  background-color: #293449;
}

.offers-description h2 {
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: #32425c;
  margin: 0;
  padding: 0;
}

.offers-description-btn {
  font-size: 14px;
  line-height: 18px;
  background-color: #ff5357;
  color: #ffffff;
}

.delivery {
  background-image: url(../img/auto.jpg);
  background-repeat: no-repeat;
  background-position: 100% 110%;
}

.guaranty {
  background-image: url(../img/medal.png);
  background-repeat: no-repeat;
  background-position: right;
}

.credit {
  background-image: url(../img/credit.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.container-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.company-wrapper {
  display: flex;
  flex-direction: column;
}

.company-wrapper p,
.company-caption-txt,
.contacts-caption-txt,
.company-dignity {
  margin: 0;
  padding: 0;
}

.company-caption-txt,
.contacts-caption-txt {
  margin-bottom: 36px;
}

.company-wrapper .company-items-first {
  width: 520px;
  margin-bottom: 30px;
}

.company-wrapper .company-items-second {
  width: 390px;
  margin-bottom: 20px;
}

.company-dignity {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 37px;
}

.company-dignity-item {
  padding-bottom: 21px;
}

.company-dignity-item:nth-child(3n) {
  padding-bottom: 0;
}

.company-btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  width: 220px;
  text-align:center;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
}

.contacts-wrapper p {
  margin: 0;
  padding: 0;
}

.contacts-wrapper .contacts-item {
  width: 180px;
  margin-bottom: 36px;
}

.map {
  width: 300px;
  margin-bottom: 40px;
}

.contacts-btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  text-align:center;
}

.product-description {
  background-color: #f2f6f8;
  padding-bottom: 73px;
}

.product-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
  }

.product-description h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.product-description p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.main-footer {
  background-color: #32425c;
}

.footer-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
  margin-bottom: 50px;
}

.footer-navigation {
  display: flex;
  }

.footer-contacts-wrapper {
  /* border: 1px solid white; */   /* ------- ПОТОМ УБРАТЬ   ------*/
  width: 330px;
  display: flex;
  flex-direction: column;
}

.footer-site-wrapper {
    /* border: 1px solid white; */   /* ------- ПОТОМ УБРАТЬ   ------*/
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.footer-logo {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  display: block;
  width: 220px;
  text-align: center;
  padding: 21px 0px;
  margin-bottom: 37px;
}

.footer-site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 610px;
  /* border: 1px solid red; */   /* ------- ПОТОМ УБРАТЬ   ------*/
  margin-left: auto;
  justify-content: flex-end;
}

.footer-site-navigation li {
  padding-top: 42px;
  padding-left: 55px;
}

.footer-site-navigation a,
.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  margin: 0;
  padding: 0;

}

.footer-contacts {
  /* border: 1px solid white; */   /* ------- ПОТОМ УБРАТЬ   ------*/
  width: 330px;
}

.another-color a {
  color: #ffd180;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-row-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
  display: flex;
}

.footer-row {
  background-color: #293449;
  color: #ffffff;
  min-height: 107px;
}

.footer-row p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
  padding: 0
}

.footer-row a {
  color: #ffd180;
}

.footer-row-wrapper .footer-company {
  margin-top: 39px;
  width: 240px;
}

.footer-social {
  margin-top: 35px;
  margin-left: 160px;
}

.footer-social a {
  background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:active,
.footer-social a:focus {
  background-color: #ee3643;
}

.footer-develope {
  display: flex;
  /* border: 1px solid white; */  /* ------- ПОТОМ УБРАТЬ   ------*/
  margin-left: auto;
  margin-top: 40px;
}

.footer-develope .mail-develope {
  margin-right: 53px;
}

.footer-develope-link:hover,
.footer-develope-link:focus {
  text-decoration: underline;
}

.footer-develope-link:active {
  text-decoration: none;
  color: #ee3643;
}

.modal-write-us {
  margin: 0 auto;
  padding: 0;
  width: 620px;
  display: flex;
  border: 1px solid black;
}

.modal-write-us input::-webkit-input-placeholder,
.modal-write-us textarea::-webkit-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal-write-us input,
.modal-write-us textarea {
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  border: 2px solid #b5b5b5;
  border-radius: 3px;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  border: 2px solid #ee3643;
  border-radius: 3px;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 18px;
  color: inherit;
}

.modal-send {
  background-color: #f4f4f4;
}

.modal-send-btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.modal-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 620px;
}

.modal-basket {
  width: 620px;
  border: 1px solid black;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
}
