body {
  padding: 0;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 17px;
  color: #000000;
  background-color: #ffffff;
  min-width: 1200px;
}

a {
  text-decoration: none;
}

.main-navigation {
  background-color: #f4f7f9;
  margin: 0px;
  padding: 0px;
  min-height: 320px;


}

.main-logo {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ee3643;
  width: 220px;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.main-logo:hover,
.main-logo:focus {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.wrapper {
  background-color: #293449;
  width: 100%;
}

.row-selected-products {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.wrapper .row-selected-products {
  display: flex;
  flex-direction:row;
  align-items:center;
  margin-bottom: 46px;
}

.row-selected-products a {
  color: #ffffff;
  line-height: 18px;

}

.main-bookmarks {
  width: 150px;
  margin-left: auto;
  text-align: center;
  /* border: 1px solid white; /* -- ПОТОМ УБРАТЬ -- */

}

.main-basket {
  width: 150px;
  text-align: center;
  /* border: 1px solid white; /* -- ПОТОМ УБРАТЬ -- */
}

.main-bookmarks a:hover,
.main-basket a:hover,
.main-bookmarks a:focus,
.main-basket a:focus {
background-color: #212a3a;
}

.main-bookmarks a:active,
.main-basket a:active {
background-color: #161d29;
color: rgba(255, 255, 255, 0.6);
}

.with-products a,
.with-products a:hover,
.with-products a:focus,
.with-products a:active {
  background-color: #ee3643;
}

.main-checkout {
  background-color: #63a63e;
  width: 150px;
  text-align: center;
  /* border: 1px solid white; /* -- ПОТОМ УБРАТЬ -- */
}

.main-checkout:hover,
.main-checkout:focus {
  background-color: #5fbb2d;
}

.main-checkout:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}

.middle-corrector {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; /* -- ПОТОМ УБРАТЬ -- */
  margin-bottom:44px;
}

.main-description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  width: 200px;
  margin: 0;
  padding: 0;
  margin-left: 53px;
  /* border: 1px solid red; /* -- ПОТОМ УБРАТЬ -- */
}

.main-address {
  list-style: none;
  width: 300px;
  margin:0;
  padding: 0;
  margin-left:70px;
  /* border: 1px solid red; /* -- ПОТОМ УБРАТЬ -- */
}

.main-address-number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  width: 270px;
  text-align: center;
}

.main-address-city {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  width: 270px;
  text-align: center;
}

.user-navigation {
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  width: 300px;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; /* -- ПОТОМ УБРАТЬ -- */
  margin-left: auto;
  display: flex;
  flex-direction: row;
justify-content: space-between;
}


.user-navigation a {
  color: inherit;
  background: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.302);
}

.user-navigation-cabinet {
  list-style: none;
}

.user-link {
  background-color: #ffffff;
}

.user-link a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.orders-link a,
.personal-link a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.navigation-corrector {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
  /* border: 1px solid green; /* -- ПОТОМ УБРАТЬ -- */
}

.navigation-corrector .site-navigation {
  list-style: none;
  background-color: #32425c;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
    color: rgba(255, 255, 255, 0.502);
    background-color: #1d2739;
}

.breadcrumbs,
.filter p,
.catalog-navigation {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: #000000;
}

.filter p,
.catalog-navigation {
  background-color: #f7f3ec;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter label,
.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.filter ul {
  list-style: none;
}

.filter-button {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.catalog-nav-item {
  list-style: none;
}

.catalog-nav-list a {
  color: rgba(0, 0, 0, 0.302);
  background-image: url(/Users/yanbronovitskiy/Documents/GitHub/608889-technomart/img/under-line.png);
  background-position: bottom;
  background-repeat: repeat-x;
}

.catalog-nav-list a:hover,
.catalog-nav-list a:focus {
  color: inherit;
  border-bottom: 1px solid #ee3643;
  background: none;
}

.catalog-list-current a {
  background-image: none;
  border-bottom: none;
  color: #ee3643;
}
.catalog-list-current a:hover,
.catalog-list-current a:focus,
.catalog-list-current a:active {
  background-image: none;
  border-bottom: none;
  color: #ee3643;
}

.catalog-item-buy {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #63a63e;
}

.catalog-item-buy:hover,
.catalog-item-buy:focus {
  background-color: #5fbb2d;
}

.catalog-item-buy:active {
  background-color: #518534;
}

.catalog-item-bookmarks {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.catalog-item-bookmarks:hover,
.catalog-item-bookmarks:focus {
  border: 3px solid #000000;
  border-radius: 3px;
}

.catalog-item-bookmarks:active {
  border: 3px solid #c1c6ce;
  border-radius: 3px;
  color: rgba(50, 66, 92, 0.302);
}

.services-list h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

.services-list a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(229, 229, 229, 0.5);
}

.services-list a:hover,
.services-list a:focus {
  background-color: rgba(204, 204, 204, 0.6);
}

.services-list a:active {
  background-color: rgba(178, 178, 178, 0.7);
}

.materials-block,
.delivery-block {
  background-color: #ffbf47;
}

.tool-block {
  background-color: #3bbce3;
}

.technics-block {
  background-color: #dc91d8;
}

.discounts-block {
  background-color: #8ed78f;
}

.caption {
  background-color: #f9f5f0;
}

.inner-caption {
  background-color: #f2f6f8;
}

.caption-txt {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.caption-btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.product-item,
.manufacture-item {
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
}

.product-list,
.manufacture-list {
  border: 1px solid #eaeaea;
  text-align: center;
}

.product-list h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.product-list span {
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.product-list p {
  background-color: #ee3643;
  color: #ffffff;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.pagination-item a:active {
  border: 1px solid #ee3643;

}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.offers {
  background-color: #f4f7f9;
}

.offers-caption-txt,
.company-caption-txt,
.contacts-caption-txt {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.offers-item {
  list-style: none;
}

.offers-list,
.offers-description p,
.company p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.offers-nav {
  list-style: none;
}

.offers-nav-btn {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
}

.offers-nav-btn:hover,
.offers-nav-btn:focus {
  background-color: #293449;
}

.offers-description h2 {
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: #32425c;
}

.delivery {
  background-image: url(/Users/yanbronovitskiy/Documents/GitHub/608889-technomart/img/auto.jpg);
  background-repeat: no-repeat;
}

.guaranty {
  background-image: url(/Users/yanbronovitskiy/Documents/GitHub/608889-technomart/img/medal.png);
  background-repeat: no-repeat;
}

.credit {
  background-image: url(/Users/yanbronovitskiy/Documents/GitHub/608889-technomart/img/credit.jpg);
  background-repeat: no-repeat;
}

.company-dignity {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.company-btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;

}

.contacts-btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.product-description {
  background-color: #f2f6f8;
}

.product-description h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.product-description p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.main-footer {
  background-color: #32425c;
}

.footer-logo {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.footer-site-navigation {
  list-style: none;
}

.footer-site-navigation a,
.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.another-color a {
  color: #ffd180;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-row {
  background-color: #293449;
  color: #ffffff;
}

.footer-row p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-row a {
  color: #ffd180;
}

.footer-social a {
  background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:active,
.footer-social a:focus {
  background-color: #ee3643;
}

.footer-develope-link:hover,
.footer-develope-link:focus {
  text-decoration: underline;
}

.footer-develope-link:active {
  text-decoration: none;
  color: #ee3643;
}

.modal-write-us input::-webkit-input-placeholder,
.modal-write-us textarea::-webkit-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal-write-us input,
.modal-write-us textarea {
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  border: 2px solid #b5b5b5;
  border-radius: 3px;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  border: 2px solid #ee3643;
  border-radius: 3px;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 18px;
  color: inherit;
}

.modal-send {
  background-color: #f4f4f4;
}

.modal-send-btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}
